<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nicolas.brapi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginInPage"
            android:label="BrAPI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PickADatabase"
            android:label="Pick A Database" />
        <activity
            android:name=".SelectACategory"
            android:label="Pick A Category"
            android:parentActivityName=".PickADatabase" />
        <activity
            android:name=".RemoveADatabase"
            android:label="Remove A Database"
            android:parentActivityName=".PickADatabase" />
        <activity
            android:name=".CallToURL"
            android:label=" "
            android:parentActivityName=".SelectACategory" />

        <activity
            android:name=".Register"
            android:label="Register"
            android:parentActivityName=".LoginInPage" />
        <activity
            android:name=".AddADatabase"
            android:label="Create A Database"
            android:parentActivityName=".PickADatabase" />
        <activity
            android:name=".SpecifyRec"
            android:label="Specify Content"
            android:parentActivityName=".CallToURL" />

        <activity
            android:name=".changePageSize"
            android:label="Change Page Size"
            android:parentActivityName=".CallToURL"/>

        <activity
            android:name=".CallToURLOnClick"
            android:label="Full Data"
            android:parentActivityName=".CallToURL"/>
    </application>

</manifest>